<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @if( ViewBag.Theme == null)
    {
        ViewBag.Theme = "Default";
    }
    @Styles.Render(string.Format("~/Content/custom/{0}/css", ViewBag.Theme))
</head>
<body>
    @*<div class="navbar navbar-fixed-top">*@
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a href="@Url.Action("Index","Home")"><img src=@Url.Content("~/Content/Images/AWJobsiteLogo.gif") /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Search Jobs", "Index", "Home")</li>
                    <li>@Html.ActionLink("Saved Searches", "Index", "Home")</li>
                    <li>@Html.ActionLink("My Jobs Basket", "Index", "Home")</li>
                    <li>@Html.ActionLink("My Applications", "Index", "Home")</li>
                    <li>@Html.ActionLink("My Documents", "Index", "Home")</li>
                    <li>@Html.ActionLink("Companies Hiring", "Index", "Home")</li>
                    <li>@Html.ActionLink("My Account", "Index", "Home")</li>

                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
